
body {
  background: #426e86;
  
}

.navbar {
  border-bottom: #2f3131 3px solid;
  opacity: 0.8;
}

.auth-button {
  opacity: 0.2;
}


.App {
  background: #426e86;
  margin-top: 75px;
  margin-left: 800px;
  text-align: center;
  display: relative;
  width: 20%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

 
}

.splash-button {
  margin: 43px;
  
 
}
.everything {
  overflow: auto;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.blocks {
  width: 50%;
  float: left;
}

/* we wanted to add background image */
